<div class="container mx-auto">
  <h2 class="mt-2 mb-5">{{ "about-us.discover" | translate }}</h2>
  <div class="mb-4">
    <h5 class="mb-2" class="mb-2">{{ "about-us.reviving" | translate }}</h5>
    <p>
      {{ "about-us.at-l'héritage" | translate }}
    </p>
  </div>

  <div class="mb-4">
    <h5 class="mb-2">{{ "about-us.blend" | translate }}</h5>
    <p>
      {{ "about-us.every-piece" | translate }}
    </p>
  </div>

  <div class="mb-4">
    <h5 class="mb-2">{{ "about-us.clarity" | translate }}</h5>
    <p>
      {{ "about-us.we-believe" | translate }}
    </p>
  </div>

  <div class="mb-4">
    <h5 class="mb-2">{{ "about-us.empowering" | translate }}</h5>
    <p>
      {{ "about-us.in-our-commitment" | translate }}
    </p>
  </div>

  <div class="mb-4">
    <h5 class="mb-2">{{ "about-us.embracing" | translate }}</h5>
    <p>
      {{ "about-us.in-today's" | translate }}
    </p>
  </div>

  <div class="mb-4">
    <h5 class="mb-2">{{ "about-us.maury" | translate }}</h5>
    <p>
      {{ "about-us.our-journey" | translate }}
    </p>
  </div>

  <div class="mb-4">
    <h5 class="mb-2">{{ "about-us.join" | translate }}</h5>
    <p>
      {{ "about-us.we-invite" | translate }}
    </p>
  </div>
</div>
