<div class="container mt-5">
  <h4>{{ "errorPage.internalServerError" | translate }}</h4>
  <ng-container *ngIf="error">
    <h5 class="text-danger">
      {{ "errorPage.error" | translate }}: {{ error.message }}
    </h5>
    <p class="font-weight-bold">
      {{ "errorPage.errorFromServer" | translate }}
    </p>
    <p>{{ "errorPage.whatToDo" | translate }}</p>
    <ol>
      <li>{{ "errorPage.checkNetworkTab" | translate }}</li>
      <li>
        {{ "errorPage.reproduceInPostman" | translate }}
      </li>
    </ol>
    <h5>{{ "errorPage.stackTrace" | translate }}</h5>
    <code class="mt-5" style="background-color: whitesmoke">{{
      error.details
    }}</code>
  </ng-container>
</div>
