<footer class="footer py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>New critical editions of horn repertoire.</p>
      </div>
      <div class="col-md-4 text-center">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/test-error">Errors</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-end">
        <h5>Made by</h5>
        <p>
          <a href="mailto:patremblay22@gmail.com" target="_blank">Puzzi22</a>
          in Barcelona<br /><em
            >Updated on <time datetime="2023-11-23">23/11/2023</time>.</em
          >
        </p>
      </div>
    </div>
  </div>
</footer>
