.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(81, 80, 80);
  color: rgb(224, 223, 223);
  margin-top: 80px;
  /* Customize further below */
}

.footer a {
  text-decoration: none;
  color: rgb(224, 223, 223);
}

.footer a:hover {
  color: rgb(115, 117, 255);
}
