<footer class="footer py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>{{ "footer.aboutUs" | translate }}</h5>
        <p>{{ "footer.newCriticalEditions" | translate }}</p>
      </div>
      <div class="col-md-4 text-center">
        <h5>{{ "footer.quickLinks" | translate }}</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/home">{{ "navbar.home" | translate }}</a>
          </li>
          <li>
            <a routerLink="/shop">{{ "navbar.shop" | translate }}</a>
          </li>
          <li>
            <a routerLink="/test-error">{{ "navbar.errors" | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-end">
        <h5>{{ "footer.madeBy" | translate }}</h5>
        <p>
          <a href="mailto:patremblay22@gmail.com" target="_blank">Puzzi22</a>
          {{ "footer.inBarcelona" | translate }}<br /><em
            >{{ "footer.updatedOn" | translate
            }}<time datetime="2023-11-23">23/11/2023</time>.</em
          >
        </p>
      </div>
    </div>
  </div>
</footer>
