.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(42, 41, 41, 0.854);
  color: rgb(215, 214, 214);
  margin-top: 80px;
}

.footer a {
  text-decoration: none;
  color: rgb(215, 214, 214);
}

.footer a:hover {
  color: rgb(255, 255, 255);
}
