<div class="d-flex justify-content-center mt-5">
  <div class="col-10 col-md-6 col-lg-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="mb-3">{{ "login.register" | translate }}</h1>
      </div>
      <app-text-input
        [formControl]="registerForm.controls['displayName']"
        [label]="'label.displayName' | translate"
      ></app-text-input>
      <app-text-input
        [formControl]="registerForm.controls['email']"
        [label]="'label.emailAddress' | translate"
      ></app-text-input>
      <app-text-input
        [formControl]="registerForm.controls['password']"
        [label]="'label.password' | translate"
        [type]="'password'"
      ></app-text-input>

      <ul class="text-danger list-unstyled" *ngIf="errors">
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>

      <div class="d-grid">
        <button
          [disabled]="registerForm.invalid"
          class="btn btn-lg btn-primary mt-3"
          type="submit"
        >
          {{ "login.signIn" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
