<div class="container mt-5">
  <div><i class="fa fa-check-circle fa-5x" style="color: green"></i></div>
  <h2>{{ "orderConfirmation.thankYou" | translate }}</h2>
  <p class="mb-4">
    {{ "orderConfirmation.message" | translate }}
  </p>
  <button
    *ngIf="order"
    routerLink="/orders/{{ order.id }}"
    class="btn btn-outline-success"
  >
    {{ "orderConfirmation.viewYourOrder" | translate }}
  </button>
  <button *ngIf="!order" routerLink="/orders" class="btn btn-outline-success">
    {{ "orderConfirmation.viewYourOrders" | translate }}
  </button>
</div>
