<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <div class="row" formGroupName="deliveryForm">
    <div
      class="col-md-6 col-12 form-group mb-3 m"
      *ngFor="let method of deliveryMethods; let i = index"
    >
      <input
        type="radio"
        id="{{ method.id }}"
        value="{{ method.id }}"
        formControlName="deliveryMethod"
        class="form-check-input"
        [class.grey-out]="i < 3"
        (click)="setShippingPrice(method)"
      />
      <label
        for="{{ method.id }}"
        class="form-check-label ms-2 mb-3 d-inline"
        [class.grey-out]="i < 3"
      >
        <strong
          >{{ method.shortName }} -
          {{ method.price | currency : "EUR" }}</strong
        >
        <br />
        <span class="label-description d-block ms-4">{{
          "deliveryMethods." + method.shortName + ".description" | translate
        }}</span>
      </label>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i>
    {{ "deliveryOptions.backToAddress" | translate }}
  </button>
  <button
    [disabled]="checkoutForm?.get('deliveryForm')?.invalid"
    class="btn btn-primary"
    cdkStepperNext
  >
    {{ "deliveryOptions.goToReview" | translate }}
    <i class="fa fa-angle-right"></i>
  </button>
</div>
