<div class="card h-100 shadow-sm" *ngIf="product">
  <div class="image position-relative" style="cursor: pointer">
    <img
      src="{{ product.pictureUrl1 }}"
      alt="{{ product.title }}"
      class="img-fluid bg-info"
    />
    <div class="d-flex align-items-center justify-content-center hover-overlay">
      <button
        (click)="addItemToBasket()"
        class="btn btn-primary fa fa-shopping-cart me-2"
      ></button>
      <button routerLink="/shop/{{ product.id }}" class="btn btn-primary">
        {{ "productItem.view" | translate }}
      </button>
    </div>
  </div>

  <div class="card-body d-flex flex-column">
    <span class="mb-2 fw-bold text-uppercase">
      {{ composerNames.join(', ') }} <!-- Join composer names with a comma -->
    </span>
    <a href="" class="text-decoration-none">
      <h6 class="text-uppercase">
        {{ product.title }}
      </h6>
    </a>
    <span class="mb-2">{{ product.price | currency : "EUR" }}</span>
  </div>
</div>
