<div class="container mt-5">
  <div class="row flex-column flex-md-row" *ngIf="order">
    <div class="col-lg-8 col-12 mb-5">
      <div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 text-uppercase" style="min-width: 200px">
                    {{ "basketSummary.product" | translate }}
                  </div>
                </th>
                <th scope="col" class="border-0 bg-light text-center">
                  <div class="py-2 text-uppercase">
                    {{ "basketSummary.price" | translate }}
                  </div>
                </th>
                <th scope="col" class="border-0 bg-light text-center">
                  <div class="py-2 text-uppercase">
                    {{ "basketSummary.quantity" | translate }}
                  </div>
                </th>
                <th scope="col" class="border-0 bg-light text-center">
                  <div class="py-2 text-uppercase">
                    {{ "basketSummary.subtotal" | translate }}
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.orderItems">
                <!-- Product details -->
                <th style="padding: 0" class="align-middle">
                  <div class="row align-items-center">
                    <!-- Image Column - Conditional Rendering -->
                    <ng-container *ngIf="item.pictureUrl1; else noImage">
                      <div class="col-3 d-none d-lg-inline-block">
                        <img
                          src="{{ item.pictureUrl1 }}"
                          alt="{{ item.productTitle }}"
                          class="img-fluid"
                          style="width: auto"
                        />
                      </div>
                    </ng-container>
                    <ng-template #noImage>
                      <div class="col-12">
                        <!-- Placeholder for when image is not available -->
                      </div>
                    </ng-template>

                    <!-- Details Column -->
                    <div class="col-12 col-lg-9">
                      <div class="p-2">
                        <h5 class="mb-0">
                          {{ item.productTitle }}
                        </h5>
                        <!-- Include additional details if needed -->
                      </div>
                    </div>
                  </div>
                </th>

                <!-- Price column -->
                <td class="align-middle text-center">
                  <div *ngIf="item.discountedPrice; else originalPrice">
                    <span class="text-decoration-line-through">{{
                      item.price | currency : "EUR"
                    }}</span>
                    <strong class="text-success">{{
                      item.discountedPrice | currency : "EUR"
                    }}</strong>
                  </div>
                  <ng-template #originalPrice>
                    <strong>{{ item.price | currency : "EUR" }}</strong>
                  </ng-template>
                </td>

                <!-- Quantity column -->
                <td class="align-middle text-center">
                  <strong class="font-weight-bold px-2">{{
                    item.quantity
                  }}</strong>
                </td>

                <!-- Subtotal column -->
                <td class="align-middle text-center">
                  <strong>{{
                    (item.discountedPrice ? item.discountedPrice : item.price) *
                      item.quantity | currency : "EUR"
                  }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 mt-5 mt-md-0">
      <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
        {{ "orderSummary.title" | translate }}
      </div>
      <div class="p-4">
        <ul class="list-unstyled mb-1">
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">{{
              "orderSummary.orderSubtotal" | translate
            }}</strong>
            <strong>{{ order.subtotal | currency : "EUR" }}</strong>
          </li>
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">{{
              "orderSummary.shippingHandling" | translate
            }}</strong>
            <strong>{{ order.shippingPrice | currency : "EUR" }}</strong>
          </li>
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">{{
              "orderSummary.total" | translate
            }}</strong>
            <strong>{{ order.total | currency : "EUR" }}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
