.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  background: rgb(0, 0, 255);
  color: white;
  text-align: center;
  top: -12px;
  right: 3px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange;
  }
}

/* Override Bootstrap's default link styles */
.navbar-light .navbar-nav .nav-link.active,
a.main-links:hover {
  color: orange;
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: transparent; /* or use your page's background color */
}

.logo {
  cursor: pointer;
  margin-bottom: 0;
}

.logo:hover {
  color: rgb(0, 0, 255);
}

.logo span {
  font-size: 16px;
}

.language-switcher button {
  border-radius: 0; /* Remove border radius */
  padding: 0.4rem 0.4rem; /* Adjust padding as needed */
  font-size: 0.875rem; /* Adjust font size as needed */
  margin-left: 0rem; /* Spacing between buttons */
  line-height: 1.5; /* Adjust line height as needed */
}

/* Optional: Reduce the focus outline size for a cleaner look */
.language-switcher button:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
  background-color: #f8f9fa; /* This is the light-grey color used by Bootstrap */
}

.navbar-collapse {
  width: 100%;
}
